*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F6F8;
  font-family: 'kumbh Sans';
}
.logo{
  color: #FFFFFF;
  size: 34px;
  font-weight: bolder;
}
.navigation{
  display: flex;
  justify-content: space-between;
}
.navbar{
  background-image: url(./assets/images/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  height: 10rem;
}
.navitems{
  display: flex;
  align-items: center;
  
}
.searchbutton{
  background-color: #939BF4;
  border-radius: 10px;
  outline: 0;
  border: 0;
  padding: 15px;
  margin: 10px;
  color: #FFFFFF;
}
.filter{
  background-color: #FFFFFF;
  padding: 0rem;
  border-radius: 5px;
  position: relative;
  top: -2rem;
  
  
}
.filtercolumn{
  border-right:1px solid #9DAEC2;
}

/*  .jobs{
  margin-top: 5rem; 
} */
.companyinput{
  padding: 1rem;
  outline: 0;
  border: 0;
 
}
.locationinput{
  padding: 1rem;
  outline: 0;
  border: 0;
 
}
.fulltimecheckbox{
  width: 1rem;
  height: 1rem;
  margin: 1rem;
}
.joblogocontainer{
  height: 3.5rem;
  width: 3.5rem;
  padding: 0.6rem;
  border-radius: 10px;
  position: relative;
  top: -2.5rem;
}
.loadmorebuttoncontainer{
  text-align: center;
}
.loadmorebutton{
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #939BF4;
  border: none;
}
.companyinfo{
  display: flex;
  padding: 1rem;
  background-color: #FFFFFF;
}
.viewjoblogocontainer{
  height: 7rem;
  width: 7rem;
  padding: 2.5rem;
  margin-right: 3rem;
  border-radius: 0.5rem;
}


.viewjobcompanyname{
  width: 35rem;
  padding: 1rem;
}

.viewjobcompanysitebutton{
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #939BF4;
  color: #FFFFFF;
}